In [3]:
values = {6,'python',5.6}
print(values)
type(values)

{'python', 5.6, 6}

set

In [4]:
value = {}
print(type(value))

<class 'dict'>

In [5]:
value=set()
type(value)

set

In [7]:
values={1,3,2,4,6,7,5,9,8,10}
values

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
set1 = set()
print(set1)

set()

In [9]:
value_set = {2,'PYTHON','a',5,9.4}
value_set

{2, 5, 9.4, 'PYTHON', 'a'}

In [11]:
value_set[0]   #type error
value_set

TypeError: 'set' object is not subscriptable

In [13]:
value_set = {2,'PYTHON','a',5,9.4}    #attribute error
print(value_set)
value_set.append('HELLO')
print(value_set)

{2, 'a', 5, 'PYTHON', 9.4}

AttributeError: 'set' object has no attribute 'append'

In [14]:
value_set = {2,'PYTHON','a',5,9.4}   
print(value_set)
value_set.add('HELLO')
print(value_set)

{2, 'a', 5, 'PYTHON', 9.4}
{2, 'a', 5, 'PYTHON', 9.4, 'HELLO'}

In [17]:
value_set = {2,'PYTHON','a',5,9.4}    #attribute error
print(value_set)
value_set.remove('PYTHON',)
print(value_set)

{2, 'a', 5, 'PYTHON', 9.4}
{2, 'a', 5, 9.4}

In [18]:
value_set = {2,'PYTHON','a',5,9.4}    #attribute error
print(value_set)
value_set.discard(9.4)
print(value_set)

{2, 'a', 5, 'PYTHON', 9.4}
{2, 'a', 5, 'PYTHON'}

In [19]:
value_set = {2,'PYTHON','a',5,9.4}    #attribute error
print(value_set)
value_set.clear()
print(value_set)

{2, 'a', 5, 'PYTHON', 9.4}
set()

In [4]:
value_set=set()
n=int(input())
for i in range(n):
    value_set.add(int(input()))

 4
 12
 65
 88
 96

In [5]:
value_set

{12, 65, 88, 96}

In [6]:
for i in value_set:
    print(i)

88
65
12
96

In [7]:
#check the element got frm the user is present in the value set

In [8]:
x=int(input())
y=(x in value_set)
print(y)

 65

True

In [9]:
#length
len(value_set)

4

In [10]:
#union

In [16]:
month1={"jan","feb","mar","apr","may","jun"}
month2={"jul","aug","sep","oct","nov","dec"}
print("First six months are:",month1)
print("Second six months are:",month2)
months=month1|month2
print("Total months in a Year:",months)
################################################### method2
union_month=month1.union(month2)
print("method2",union_month)

First six months are: {'mar', 'feb', 'may', 'jun', 'jan', 'apr'}
Second six months are: {'aug', 'jul', 'sep', 'dec', 'oct', 'nov'}
Total months in a Year: {'jul', 'sep', 'jan', 'nov', 'mar', 'apr', 'aug', 'jun', 'dec', 'oct', 'feb', 'may'}
method2 {'jul', 'sep', 'jan', 'nov', 'mar', 'apr', 'aug', 'jun', 'dec', 'oct', 'feb', 'may'}

In [15]:
#intersection
month1={"jan","feb","mar","apr","may","jun","aug"}
month2={"jul","aug","sep","oct","nov","dec","may"}
common_month=month1&month2
print("Method1",common_month)
##################################################### method2
com_mon=month1.intersection(month2)
print("Method2",com_mon)

Method1 {'aug', 'may'}
Method2 {'aug', 'may'}

In [17]:
#diff of two sets

In [19]:
month1={"jan","feb","mar","apr","may","jun"}
month2={"jul","aug","sep","oct","nov","dec"}
x=month1-month2
print("Diff",x)
#########################################################method2
y=month1.difference(month2)
print("DIfference",y)

Diff {'jan', 'mar', 'apr', 'jun', 'feb', 'may'}
DIfference {'jan', 'mar', 'apr', 'jun', 'feb', 'may'}

In [20]:
#set comparison

In [21]:
month1={"jan","feb","dec","mar"}
month2={"jan","feb"}
print(month1>month2)
###################################method2
y=month1.

True

In [1]:
#Set Comparison

In [2]:
month1={"jan","feb","dec","mar"}
month2={"jan","feb"}
print(month1>month2)
print(month1<month2)
print(month1==month2)

True
False
False

In [ ]:
#exp the frozen sets in python with suitable example